name: Release jar

on:
  workflow_dispatch:
  release:
    types: [created]
permissions:
  contents: read

jobs:
  read_versions:
    runs-on: ubuntu-latest
    outputs:
      version: ${{ steps.versionNumber.outputs.versionNumber }}
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@df199fb7be9f65074067a9eb93f12bb4c5547cf2 # v2.13.3
        with:
          egress-policy: audit

      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      # Get version number
      - name: Get version number
        id: versionNumber
        run: |
          VERSION=$(grep '^version=' version.properties | cut -d'=' -f2)
          echo "versionNumber=$VERSION" >> $GITHUB_OUTPUT

  build:
    needs: read_versions
    runs-on: ubuntu-latest
    outputs:
      version: ${{ steps.versionNumber.outputs.versionNumber }}
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@df199fb7be9f65074067a9eb93f12bb4c5547cf2 # v2.13.3
        with:
          egress-policy: audit

      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Set up JDK 21
        uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165 # v5.0.0
        with:
          java-version: "21"
          distribution: "temurin"
          cache: 'gradle'

      - name: Set execute permissions for Gradle Wrapper
        run: chmod +x gradlew

      - uses: gradle/actions/setup-gradle@4d9f0ba0025fe599b4ebab900eb7f3a1d93ef4c2 # v5.0.0
        with:
          gradle-version: 9.0.0

      - name: Generate jar
        run: ./gradlew clean build

      # Get version number
      - name: Get version number
        id: versionNumber
        run: |
          VERSION=$(grep '^version=' version.properties | cut -d'=' -f2)
          echo "versionNumber=$VERSION" >> $GITHUB_OUTPUT

      - run: |
          ls -R build/libs
      - name: Rename binaries
        run: |
          mkdir ./binaries
          mv "./build/libs/swaggerhub-V2-${{ needs.read_versions.outputs.version }}.jar" ./binaries/swaggerhub-V2-${{ steps.versionNumber.outputs.versionNumber }}.jar

      - name: Upload build artifacts
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          retention-days: 1
          if-no-files-found: error
          name: jar-binaries
          path: |
            ./binaries/*

  sign_verify:
    needs: [build]
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@df199fb7be9f65074067a9eb93f12bb4c5547cf2 # v2.13.3
        with:
          egress-policy: audit

      - name: Download build artifacts
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          name: jar-binaries

      - name: Display structure of downloaded files
        run: ls -R

      - name: Install Cosign
        uses: sigstore/cosign-installer@faadad0cce49287aee09b3a48701e75088a2c6ad # v4.0.0

      - name: Generate key pair
        run: cosign generate-key-pair

      - name: Sign and generate attestations
        run: |
          cosign sign-blob \
            --key ./cosign.key \
            --yes \
            --output-signature ./swaggerhub-V2-${{ needs.build.outputs.version }}.jar.sig \
            --bundle ./swaggerhub-V2-${{ needs.build.outputs.version }}.jar.sig.bundle \
            ./swaggerhub-V2-${{ needs.build.outputs.version }}.jar

          cosign attest-blob \
            --predicate - \
            --key ./cosign.key \
            --yes \
            --output-attestation ./swaggerhub-V2-${{ needs.build.outputs.version }}.jar.intoto.jsonl \
            --bundle ./swaggerhub-V2-${{ needs.build.outputs.version }}.jar.intoto.bundle \
            ./swaggerhub-V2-${{ needs.build.outputs.version }}.jar

          cosign verify-blob \
            --key ./cosign.pub \
            --bundle ./swaggerhub-V2-${{ needs.build.outputs.version }}.jar.sig.bundle \
            ./swaggerhub-V2-${{ needs.build.outputs.version }}.jar

          cosign verify-blob-attestation \
            --bundle ./swaggerhub-V2-${{ needs.build.outputs.version }}.jar.intoto.bundle \
            --key ./cosign.pub \
            --type unused \
            --digestAlg sha256 \
            --digest "$(sha256sum ./swaggerhub-V2-${{ needs.build.outputs.version }}.jar | cut -d' ' -f1)"

      - name: Display structure of downloaded files
        run: ls -R

      - name: Upload signed artifacts
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          retention-days: 1
          if-no-files-found: error
          name: jar-signed
          path: |
            ./swaggerhub-V2-${{ needs.build.outputs.version }}.*
            !cosign.*

  create-release:
    needs: [build, sign_verify]
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@df199fb7be9f65074067a9eb93f12bb4c5547cf2 # v2.13.3
        with:
          egress-policy: audit

      - name: Download signed artifacts
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
      - name: Display structure of downloaded files
        run: ls -R
      - name: Upload binaries, attestations and signatures to Release and create GitHub Release
        uses: softprops/action-gh-release@5be0e66d93ac7ed76da52eca8bb058f665c3a5fe # v2.4.2
        with:
          tag_name: v${{ needs.build.outputs.version }}
          generate_release_notes: true
          files: |
            ./*signed/*
